.digits {
    background-color: rgb(98, 43, 226);
    color: aliceblue;
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 20%;
    border: none;
}
.show-result {
    width: 60%;
    font-size: 1.5em;
    border: 1px solid black
}